.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-FTu687H3gT3S);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-xu_0CACFQNxx);
  font-family: var(--token-Fy73ooj2YfUm);
  font-size: var(--token-IyV93WZQjpOX);
  line-height: var(--token-VDI3HD6fh4Iz);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-IuB6NX09cDFv);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-HpBpxqiDk-BY);
  outline-offset: 1px;
  outline-color: var(--token-FTu687H3gT3S);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-CgZWA4QDCai7);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-WOsv3R6KKLJw);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-yU83lAfPunGi);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-GwaO7pyB1N-d);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-kv72MHA99lrw);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-ttOS_NQYl_Xn);
  font-size: var(--token-90-v_hhdfed0);
  column-gap: var(--token-HpBpxqiDk-BY);
  row-gap: 0px;
  border-radius: var(--token-ds12mB2kOnKy);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-90-v_hhdfed0);
  line-height: var(--token-ttOS_NQYl_Xn);
  column-gap: var(--token-ds12mB2kOnKy);
  row-gap: 0px;
  border-radius: var(--token-ds12mB2kOnKy);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-erCAwGALYSyF);
  line-height: var(--token-xhrxiEgfrLIc);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-erCAwGALYSyF);
  line-height: var(--token-xhrxiEgfrLIc);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-5YHKaglnqRdl);
  border-radius: var(--token-IuB6NX09cDFv);
}
.softBackgroundcolor_neutral {
  background: var(--token-7A9LsmPVkXNQ);
}
.softBackgroundcolor_muted {
  background: var(--token-tqu3P71ZntIb);
}
.softBackgroundcolor_success {
  background: var(--token-7y05WB-2D3F0);
}
.softBackgroundcolor_warning {
  background: var(--token-Cg_PJRKxptRq);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-sCgggajmUZs1);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-IuB6NX09cDFv);
  border: 0px solid var(--token-duvBL60nG8MN);
}
.bordercolor_neutral {
  border-color: var(--token-0Ylx-kW3HqCG);
}
.bordercolor_muted {
  border-color: var(--token-xYLR8DACCkMQ);
}
.bordercolor_success {
  border-color: var(--token-vnwkylnRVaGL);
}
.bordercolor_warning {
  border-color: var(--token-KPNrKoTIme0x);
}
.bordercolor_errorDestructive {
  border-color: var(--token-neOwpv0rqXtZ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-IuB6NX09cDFv);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-JxBQvpadiM6b);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-rbxqM_y_De3V);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-NA0cpHZ4TOsu);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__bz1Os {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-IuB6NX09cDFv);
  min-width: 0;
  min-height: 0;
  padding: var(--token-IuB6NX09cDFv) var(--token-VJdUmZVae0wk);
}
.freeBoxsize_extraSmall__bz1OsYtTj4 {
  padding: var(--token-ds12mB2kOnKy) var(--token-IuB6NX09cDFv);
}
.freeBoxsize_small__bz1Osvn7Ff {
  padding: var(--token-IuB6NX09cDFv) var(--token-xu_0CACFQNxx);
}
.freeBoxsize_large__bz1OssdRrO {
  padding-top: var(--token-ds12mB2kOnKy);
  padding-bottom: var(--token-ds12mB2kOnKy);
}
.freeBoxsize_extraLarge__bz1Ostv5Im {
  padding-left: var(--token-lG5LfC9RiYOc);
  padding-right: var(--token-lG5LfC9RiYOc);
}
.freeBoxroundedFull__bz1OSk40F {
  padding-right: var(--token-lG5LfC9RiYOc);
  padding-left: var(--token-lG5LfC9RiYOc);
}
.freeBox__qxyF9 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__qxyF9Vg0W {
  display: flex;
}
.slotTargetStart {
  color: var(--token-r9py7rsfsXBI);
}
.slotTargetStartcolor_neutral {
  color: var(--token-STaXTVE8FnNq);
}
.slotTargetStartcolor_muted {
  color: var(--token-tkUC0cXTm96y);
}
.slotTargetStartcolor_success {
  color: var(--token-zPqgMog8sYux);
}
.slotTargetStartcolor_warning {
  color: var(--token-YtoZjnostC0b);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-K1Vr_6AmsqZu);
}
.slotTargetStarttype_soft {
  color: var(--token-UnjnhQ3EoqtB);
}
.slotTargetStarttype_bordered {
  color: var(--token-UnjnhQ3EoqtB);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-90-v_hhdfed0);
}
.slotTargetStartsize_small {
  font-size: var(--token-90-v_hhdfed0);
}
.slotTargetStartsize_large {
  font-size: var(--token-erCAwGALYSyF);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-erCAwGALYSyF);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-spou6F0gLbC1);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-spou6F0gLbC1);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-_1h9IxULZpXo);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-_1h9IxULZpXo);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-aQAjCcVlVoVb);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-aQAjCcVlVoVb);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-FiyFvlr0lZTX);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-FiyFvlr0lZTX);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-eWBpg0Az516y);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-eWBpg0Az516y);
}
.svg__ck9L {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-r9py7rsfsXBI);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-STaXTVE8FnNq);
}
.slotTargetLabelcolor_muted {
  color: var(--token-tkUC0cXTm96y);
}
.slotTargetLabelcolor_success {
  color: var(--token-zPqgMog8sYux);
}
.slotTargetLabelcolor_warning {
  color: var(--token-YtoZjnostC0b);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-K1Vr_6AmsqZu);
}
.slotTargetLabeltype_soft {
  color: var(--token-UnjnhQ3EoqtB);
}
.slotTargetLabeltype_bordered {
  color: var(--token-UnjnhQ3EoqtB);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-spou6F0gLbC1);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-_1h9IxULZpXo);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-spou6F0gLbC1);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-aQAjCcVlVoVb);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-_1h9IxULZpXo);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-FiyFvlr0lZTX);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-aQAjCcVlVoVb);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-eWBpg0Az516y);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-FiyFvlr0lZTX);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-eWBpg0Az516y);
}
.text__sd3LX {
  white-space: pre;
}
.freeBox___0AQY {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___0AQYoqYa {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-r9py7rsfsXBI);
}
.slotTargetEndcolor_neutral {
  color: var(--token-STaXTVE8FnNq);
}
.slotTargetEndcolor_muted {
  color: var(--token-tkUC0cXTm96y);
}
.slotTargetEndcolor_success {
  color: var(--token-zPqgMog8sYux);
}
.slotTargetEndcolor_warning {
  color: var(--token-YtoZjnostC0b);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-K1Vr_6AmsqZu);
}
.slotTargetEndtype_soft {
  color: var(--token-UnjnhQ3EoqtB);
}
.slotTargetEndtype_bordered {
  color: var(--token-UnjnhQ3EoqtB);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-90-v_hhdfed0);
}
.slotTargetEndsize_small {
  font-size: var(--token-90-v_hhdfed0);
}
.slotTargetEndsize_large {
  font-size: var(--token-erCAwGALYSyF);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-erCAwGALYSyF);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-spou6F0gLbC1);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-spou6F0gLbC1);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-_1h9IxULZpXo);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-_1h9IxULZpXo);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-aQAjCcVlVoVb);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-aQAjCcVlVoVb);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-FiyFvlr0lZTX);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-FiyFvlr0lZTX);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-eWBpg0Az516y);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-eWBpg0Az516y);
}
.svg__fRpkx {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
