.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-ds12mB2kOnKy);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__pXsAj {
  display: flex;
  flex-direction: column;
}
.freeBox__knHdD {
  flex-direction: row;
  position: absolute;
  height: var(--token-8WCfdsjac_sC);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-IuB6NX09cDFv) var(--token-VJdUmZVae0wk);
}
.freeBoxiconStart__knHdDxU5Pt {
  display: flex;
}
.slotTargetStart {
  color: var(--token-0Rg7d9VjUj_J);
}
.svg___7XCw6 {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__gLak3 {
  height: var(--token-8WCfdsjac_sC);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-IuB6NX09cDFv) var(--token-VJdUmZVae0wk);
}
.freeBoxiconEnd__gLak3ZNNn {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-0Rg7d9VjUj_J);
}
.svg__siUrx {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
