.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-ds12mB2kOnKy);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__fuRt6 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-ds12mB2kOnKy);
}
.radio__syuEe:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__ktQy:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__fkkm2:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
