.tableWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.resultCount {
  font-family: "Satoshi", sans-serif;
  font-size: 12px;
  color: var(--ls-color-muted);
  margin-left: auto;
}
