.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--ls-color-border-light);
}

.title {
  font-family: "Satoshi";
  font-size: 18px;
  font-weight: 600;
  color: var(--ls-color-text-primary);
  margin: 0;
}

.description {
  font-family: "Satoshi";
  font-size: 14px;
  color: var(--ls-color-text-tertiary);
  margin: 0;
}

.tabContent {
  display: flex;
  flex-direction: column;
}
