.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  overflow: auto;
  background: #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.menuNavigation:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.text__byVfv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Satoshi";
  color: var(--token-WOsv3R6KKLJw);
}
.text__ffymi {
  font-style: italic;
  font-family: "Satoshi";
  color: var(--token-WOsv3R6KKLJw);
}
.dashboardSubmenu__gM9Yz:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.redirectIf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.freeBox__t6I6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__qEcUx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-eC7sN0TdrMwT);
  min-width: 0;
  padding: 0px 0px 8px;
  border-bottom: 1px solid var(--token-bGw1ZBUIaR08);
}
.freeBox__qcdYx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__bYvUh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fFys8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-weight: 600;
  font-family: "Mont";
}
.freeBox__m8LNv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__m1CSw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-BlA-iDkaAWvO);
  font-family: "Satoshi";
  min-width: 0;
}
.freeBox__xbZ1E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 100px;
  margin: 0px;
}
.freeBox__hhgMy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: var(--token-eC7sN0TdrMwT);
  flex-grow: 0;
  min-width: 0;
  padding: 0px 8px;
}
.verticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.text___0SGr3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Satoshi";
  font-weight: 700;
  font-size: var(--token-B10hUni6jzpI);
  min-width: 0;
}
.rosterTable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
