.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 8px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.peaClassic:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
}
