.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 0;
  padding-top: 8px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
}

.peaClassic:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
