.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
  padding-top: 8px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.peaClassic:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  flex: 1;
  min-height: 0;
}
