.ariaSwitch:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: var(--token-b4D6G1fNo7IC);
  font-family: var(--token-Fy73ooj2YfUm);
  font-size: var(--token-IyV93WZQjpOX);
  line-height: var(--token-VDI3HD6fh4Iz);
  width: 100%;
  flex-direction: column;
  row-gap: var(--token-ds12mB2kOnKy);
  min-width: 0;
}
.ariaSwitch[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.ariaSwitch[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-xu_0CACFQNxx);
}
.switchIndicator {
  height: auto;
  width: var(--token-8WCfdsjac_sC);
  display: flex;
  background: var(--token-7A9LsmPVkXNQ);
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 99px;
  padding: var(--token-HpBpxqiDk-BY);
}
.ariaSwitch[data-selected] .switchIndicator {
  background: var(--token-FTu687H3gT3S);
}
.ariaSwitch[data-focus-visible] .switchIndicator {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-FTu687H3gT3S);
  outline-offset: 1px;
}
.ariaSwitch[data-disabled] .switchIndicator {
  cursor: not-allowed;
}
.thumb {
  display: flex;
  position: relative;
  width: var(--token-p-5wmXeh2p7J);
  background: var(--token-pwLzGroeEMjk);
  height: var(--token-p-5wmXeh2p7J);
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: skew(0deg, 0deg);
  box-shadow: 0px 0px 3px 0px #00000040;
  transform-style: preserve-3d;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
  border-radius: 99px;
}
.thumb * {
  transform-style: preserve-3d;
}
.ariaSwitch[data-selected] .thumb {
  transform: translate3d(12px, 0px, 0px);
  transform-style: preserve-3d;
}
.ariaSwitch[data-selected] .thumb * {
  transform-style: preserve-3d;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
