.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.panel {
  background: none;
  display: flex;
  position: relative;
  align-self: auto;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 24px;
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
}
.statistics {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__nkkHv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__vJdT6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.tabButton___853G:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.button__rokb:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eRfav {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__j3I9Q {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg__guiy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__cHyw:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  min-width: 0;
}
.button__dvzP9:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__eHtwY {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9HvWm {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
  white-space: pre-wrap;
}
.svg__tHLk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__ys00:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.button__xW3GE:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__fnZ9C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3WsRe {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg___3N50N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__viQnu:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.button__yuqKt:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__d1DNz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pD265 {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg__yWmBy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-FTu687H3gT3S);
  height: 2px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__nDqIn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.pathwayContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ghLeA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.peContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__pChx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.evalsContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jXaQy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.disciplineContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___0PldT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.discipline {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__zGiBg {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 474px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.row {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
.text13 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Satoshi";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.row2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.metricItem {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  filter: drop-shadow(0px 1px 1px rgba(10, 13, 18, 0.05000000074505806));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.headingAndNumber {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-0Rg7d9VjUj_J);
  align-self: stretch;
  position: relative;
}
.numberAndBadge {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.number {
  display: block;
  flex-grow: 1;
  font-size: 30px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.metricItem2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  filter: drop-shadow(0px 1px 1px rgba(10, 13, 18, 0.05000000074505806));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.headingAndNumber2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading2 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-0Rg7d9VjUj_J);
  align-self: stretch;
  position: relative;
}
.numberAndBadge2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.number2 {
  display: block;
  flex-grow: 1;
  font-size: 30px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.svg__rk7Ms {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 474px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.inputAndText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconAndText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text14 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.frame1 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.slideoutListItem2__e09N4:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.freeBox__tqldc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___3M5Ys {
  font-family: "Satoshi";
}
.slideoutListItem2__laOi6:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__c9Wrl {
  height: auto;
}
.freeBox__mKr1A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__hCnfH {
  font-family: "Satoshi";
}
.slideoutListItem2__im0D1:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.text__csSld {
  height: auto;
}
.pointValue4 {
  color: #178459;
}
.slideoutListItem2__iQ6IM:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.freeBox___6Rt0Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___9Fi2H {
  font-family: "Satoshi";
}
.slideoutListItem2___6G0C5:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.freeBox__r0Ug {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ranRv {
  font-family: "Satoshi";
}
.svg__z2VN {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 474px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.inputAndText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconAndText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text27 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.frame6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.slideoutListItem2__bxkK7:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.freeBox___6FcDv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___8Rz8D {
  font-family: "Satoshi";
}
