.listItem {
  background: rgba(255, 255, 255, 1);
  box-shadow: none;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 491px;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 12px 16px;
  border: 1px solid var(--token-bGw1ZBUIaR08);
}
.contents {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.content11 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.listItemDetails {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text24 {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;
}
.slotTargetItemName {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  color: rgba(65, 70, 81, 1);
  line-height: 20px;
  letter-spacing: 0em;
}
.furtherDetails {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.slotTargetDate2 {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  color: rgba(83, 88, 98, 1);
  line-height: 20px;
  letter-spacing: 0em;
}
.divider {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-bGw1ZBUIaR08);
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.iconAndLeader {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.svg__q77Qt {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.slotTargetDocumentingLeader {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  color: rgba(83, 88, 98, 1);
  line-height: 20px;
  letter-spacing: 0em;
}
.svg__qAimV {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-bGw1ZBUIaR08);
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.svgdisciplinaryAction__qAimV2WMb {
  display: none;
}
.slotTargetInformed2 {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  color: rgba(83, 88, 98, 1);
  line-height: 20px;
  letter-spacing: 0em;
}
.points {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pointsdisciplinaryAction {
  display: none;
}
.slotTargetPointValue2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgba(23, 132, 89, 1);
  text-align: center;
  line-height: 32px;
  letter-spacing: 0em;
}
.slotTargetPointValue2 > *,
.slotTargetPointValue2 > :global(.__wab_slot) > *,
.slotTargetPointValue2 > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetPointValue2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetPointValue2 > picture > img,
.slotTargetPointValue2 > :global(.__wab_slot) > picture > img,
.slotTargetPointValue2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetPointValue2
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.slotTargetPointValue2infractionType_positive {
  color: var(--token-yU83lAfPunGi);
}
.slotTargetPointValue2infractionType_negative {
  color: var(--token-kv72MHA99lrw);
}
.freeBox__z3Kv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__yBoHx {
  font-family: "Satoshi";
}
.pointsText {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
