.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-b4D6G1fNo7IC);
  font-family: var(--token-Fy73ooj2YfUm);
  font-size: var(--token-IyV93WZQjpOX);
  line-height: var(--token-VDI3HD6fh4Iz);
  width: 100%;
  column-gap: var(--token-xu_0CACFQNxx);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-HSLf0aWNsQ9l);
  height: var(--token-HSLf0aWNsQ9l);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-HpBpxqiDk-BY);
  border: 2px solid var(--token-LbYNW6kAVvUN);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-FTu687H3gT3S);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-FTu687H3gT3S);
  border-color: var(--token-FTu687H3gT3S);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-FTu687H3gT3S);
  border-color: var(--token-FTu687H3gT3S);
}
.svg__xf14 {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__xf14 {
  display: block;
}
.svg__d0Opk {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg__d0Opk {
  display: block;
}
