.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  overflow: auto;
  background: #ffffff;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.menuNavigation:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.text__syXpi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Satoshi";
  color: var(--token-WOsv3R6KKLJw);
}
.text___9JrNq {
  font-style: italic;
  font-family: "Satoshi";
  color: var(--token-WOsv3R6KKLJw);
}
.dashboardSubmenu__v5VFq:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.loadingBoundary__whu9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.lottie__daVb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.redirectIf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
.freeBox__jtUkZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__ureDb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-eC7sN0TdrMwT);
  min-width: 0;
  padding: 0px 0px 8px;
  border-bottom: 1px solid var(--token-bGw1ZBUIaR08);
}
.freeBox__nlSty {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__mKhGx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wQDeC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-weight: 600;
  font-family: "Mont";
}
.freeBox__c457R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___8HOob {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-BlA-iDkaAWvO);
  font-family: "Satoshi";
  min-width: 0;
}
.freeBox__lKzxl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__cHwGk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: var(--token-eC7sN0TdrMwT);
  flex-grow: 0;
  min-width: 0;
  padding: 0px 8px;
}
.verticalStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  padding: 0px;
}
.text__of8Zu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Satoshi";
  font-weight: 700;
  font-size: var(--token-B10hUni6jzpI);
  min-width: 0;
}
.disciplineTable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Satoshi";
  font-size: var(--token-LGg-zkf2M2GB);
}
.verticalStack2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rX_8jNE36opk);
  padding: 0px;
}
.text__oSxFd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Satoshi";
  font-weight: 700;
  font-size: var(--token-B10hUni6jzpI);
  text-align: center;
  min-width: 0;
}
.disciplineActionsTable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Satoshi";
  color: var(--token-b4D6G1fNo7IC);
}
.drawerV2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Satoshi";
  color: var(--token-b4D6G1fNo7IC);
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.textAndOnlineIndicator {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  display: block;
  font-size: 24px;
  font-family: "Mont";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(24, 29, 39, 1);
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 18px;
  font-family: "Satoshi";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(83, 88, 98, 1);
  align-self: stretch;
  position: relative;
}
.panel {
  background: none;
  display: flex;
  position: relative;
  align-self: auto;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.header {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 24px;
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
}
.statistics {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox___2R2C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__eLzb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.tabButton__aqaGl:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-family: "Satoshi";
  min-width: 0;
}
.levelsetButton__q81U:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4RrzX {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6KyZb {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg__eJbui {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__hM9Qt:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  min-width: 0;
}
.levelsetButton__nUeV4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mloem {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__l7T {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
  white-space: pre-wrap;
}
.svg__fpXfh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__mfDk:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.levelsetButton__rd97:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__jBk3U {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4BkwJ {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg__xtQsD {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__myaYm:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.levelsetButton__twGtL:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aLg3C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rnFqb {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg__xfMZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-FTu687H3gT3S);
  height: 2px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__aRoag {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.pathwayContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__eNnS6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.peContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gmIt2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.evalsContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wMoxn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.disciplineContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  font-family: "Satoshi";
  min-width: 0;
}
.freeBox__imotp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.loadingBoundary__fo4VO:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.lottie___9839:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  max-height: 600px;
  min-height: 0;
}
.discipline {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.row {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
.text13 {
  display: block;
  flex-grow: 1;
  font-size: var(--token-hYndcje43OGL);
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.row2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.metricItem {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  filter: drop-shadow(0px 1px 1px rgba(10, 13, 18, 0.05000000074505806));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.headingAndNumber {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-0Rg7d9VjUj_J);
  align-self: stretch;
  position: relative;
}
.numberAndBadge {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.number {
  display: block;
  flex-grow: 1;
  font-size: 30px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.metricItem2 {
  background: #ffffff;
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  filter: drop-shadow(0px 1px 1px rgba(10, 13, 18, 0.05000000074505806));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.headingAndNumber2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading2 {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-0Rg7d9VjUj_J);
  align-self: stretch;
  position: relative;
}
.numberAndBadge2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.number2 {
  display: block;
  flex-grow: 1;
  font-size: 30px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.freeBox__jzVpm {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border-bottom: 2px dotted var(--token-bGw1ZBUIaR08);
}
.inputAndText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconAndText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text14 {
  display: block;
  flex-grow: 1;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
  height: auto;
  font-size: 18px;
}
.frame1 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.slideoutListItem2__kgkig:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__birHi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.pointValue8 {
  font-family: "Satoshi";
}
.listItem {
  background: var(--token-tqu3P71ZntIb);
  box-shadow: none;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: none;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 12px 16px;
  border: 1px solid var(--token-bGw1ZBUIaR08);
}
.contents {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.content11 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.listItemDetails {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text24 {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;
}
.slotTargetItemName {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  color: var(--token-0Rg7d9VjUj_J);
  line-height: 20px;
  letter-spacing: 0em;
}
.points {
  width: auto;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.slotTargetPointValue3 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgba(23, 132, 89, 1);
  text-align: center;
  line-height: 32px;
  letter-spacing: 0em;
}
.slotTargetPointValue3 > *,
.slotTargetPointValue3 > :global(.__wab_slot) > *,
.slotTargetPointValue3 > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetPointValue3
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetPointValue3 > picture > img,
.slotTargetPointValue3 > :global(.__wab_slot) > picture > img,
.slotTargetPointValue3
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetPointValue3
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__auyOl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.pointsText {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.freeBox__wP2M3 {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border-bottom: 2px dotted var(--token-bGw1ZBUIaR08);
}
.inputAndText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconAndText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text27 {
  display: block;
  flex-grow: 1;
  font-size: 18px;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-family: "Satoshi";
}
.modal__modal :global(.ant-modal-content) {
  font-family: "Satoshi";
  color: var(--token-b4D6G1fNo7IC);
  outline: none;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.formField__hzlcu:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__plrx5:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__yaLw {
  color: var(--token-b4D6G1fNo7IC);
  font-family: "Satoshi";
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__rSlJ:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___8Lr1T {
  font-family: "Satoshi";
  color: var(--token-b4D6G1fNo7IC);
}
.timePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___3CkKw:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-family: "Satoshi";
  min-width: 0;
}
.text__bxlc3 {
  font-family: "Satoshi";
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField___6Kjrs:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-family: "Satoshi";
  min-width: 0;
}
.text__q5YkF {
  font-family: "Satoshi";
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__bFoUl:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__gfSku:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__cTGx:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__f0YPd:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  font-family: "Satoshi";
  min-width: 0;
}
.text__va9G {
  font-family: "Satoshi";
}
.input7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__p4Cge:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__nl4D:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.input9:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.levelsetButton__yFGdG:global(.__wab_instance) {
  max-width: 100%;
}
.svg__joSaO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cfmDt {
  font-family: "Satoshi";
  font-weight: 600;
}
.svg__bNuUb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__rv9Sl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___2JUNz {
  font-family: "Satoshi";
  color: var(--token-0Rg7d9VjUj_J);
}
.text__wcrdm {
  font-weight: 600;
  font-family: "Satoshi";
  color: var(--token-FTu687H3gT3S);
}
.levelsetButton__l9Kf6:global(.__wab_instance) {
  max-width: 100%;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tvJBe {
  font-family: "Satoshi";
  font-weight: 600;
}
.svg___6JeRs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.frame6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.slideoutListItem2__o7OIj:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  max-width: none;
  min-width: 0;
}
.freeBox__owPYr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__hTftN {
  font-family: "Satoshi";
}
.listItem2 {
  background: var(--token-tqu3P71ZntIb);
  box-shadow: none;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: none;
  width: 100%;
  flex-grow: 1;
  min-width: 0;
  border-radius: 12px;
  padding: 12px 16px;
  border: 1px solid var(--token-bGw1ZBUIaR08);
}
.contents2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.content12 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.listItemDetails2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text25 {
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;
}
.slotTargetItemName2 {
  font-family: "Satoshi";
  font-size: 14px;
  font-weight: 500;
  color: var(--token-0Rg7d9VjUj_J);
  line-height: 20px;
  letter-spacing: 0em;
}
.points2 {
  width: auto;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.slotTargetPointValue5 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgba(23, 132, 89, 1);
  text-align: center;
  line-height: 32px;
  letter-spacing: 0em;
}
.slotTargetPointValue5 > *,
.slotTargetPointValue5 > :global(.__wab_slot) > *,
.slotTargetPointValue5 > :global(.__wab_slot) > :global(.__wab_slot) > *,
.slotTargetPointValue5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.slotTargetPointValue5 > picture > img,
.slotTargetPointValue5 > :global(.__wab_slot) > picture > img,
.slotTargetPointValue5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.slotTargetPointValue5
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__wsOmu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.pointsText2 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
