.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-ds12mB2kOnKy);
  min-width: 0;
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-bGw1ZBUIaR08);
  width: 100%;
  font-size: var(--token-IyV93WZQjpOX);
  line-height: var(--token-VDI3HD6fh4Iz);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-IuB6NX09cDFv);
  padding: var(--token-IuB6NX09cDFv) var(--token-8WCfdsjac_sC)
    var(--token-IuB6NX09cDFv) var(--token-VJdUmZVae0wk);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-8WCfdsjac_sC);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-8WCfdsjac_sC);
  flex-shrink: 0;
  border-radius: var(--token-IuB6NX09cDFv);
  border: 1px none black;
}
.svg {
  width: var(--token-p-5wmXeh2p7J);
  height: var(--token-p-5wmXeh2p7J);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__uGhZl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
