.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-content: stretch;
  position: relative;
  background: #ffffff;
  min-width: 0;
  border-bottom: 1px solid var(--token-bGw1ZBUIaR08);
}
.freeBox__qAtX2 {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: var(--token-eC7sN0TdrMwT);
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__a3UdP {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
  min-width: 0;
  padding: 8px 0px;
}
.logo {
  object-fit: fill;
  max-width: 100%;
  width: 100px;
  height: auto;
  flex-shrink: 0;
  flex-grow: 0;
  max-height: 48px;
  cursor: pointer;
}
.logo > picture > img {
  object-fit: fill;
}
.freeBox___9Xy55 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.levelsetButton___5Tvwa:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
.text__ayRwz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-hYndcje43OGL);
  font-weight: 600;
  font-family: "Satoshi";
  color: var(--token-0Rg7d9VjUj_J);
  min-width: 0;
}
.svg__hq4A4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iOuO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.levelsetButton__fBkbv:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.text__mNyQw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-hYndcje43OGL);
  font-weight: 600;
  font-family: "Satoshi";
  color: var(--token-0Rg7d9VjUj_J);
  min-width: 0;
}
.svg__odb6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fUovN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__xTe9W {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  display: none;
  padding: 8px;
}
.freeBox__sltyv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-mZAl1RAwSIao);
  left: auto;
  top: auto;
  z-index: 1;
  flex-shrink: 1;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 12px;
  padding: 4px 16px;
  border: 1px solid #d5d7da;
}
.svg__muTh2 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-FTu687H3gT3S);
  flex-shrink: 0;
}
.freeBox__tQdjE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
  padding: var(--token-mZAl1RAwSIao);
}
.freeBox___68KqT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: flex-start;
  min-width: 60px;
}
.slotTargetChildren2 {
  font-weight: 600;
  font-size: var(--token-7z5Kw5B89TZR);
}
.svg__jzG4 {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.freeBox__rkbjc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 0px 8px 8px;
}
.freeBox___1LyUp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-dT2WOkFV5Mee);
  min-height: 50px;
  border-radius: 12px;
  padding: 4px 0px;
}
.freeBox__agUzE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 200px;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.formField:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
  font-family: "Satoshi";
  color: var(--token-0Rg7d9VjUj_J);
  margin: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  font-family: "Satoshi";
  font-weight: 600;
}
.select__popup:global(.ant-select-dropdown) :global(.ant-select-item-option) {
  font-weight: 600;
  font-size: var(--token-fwZvoB_ZCfwn);
  font-family: "Satoshi";
  outline: none;
}
.select
  :global(.ant-select-selector)
  :global(.ant-select-selection-placeholder) {
  font-weight: 600;
  font-family: "Satoshi";
  font-size: var(--token-7z5Kw5B89TZR);
  outline: none;
}
.select :global(.ant-select-selector):global(.ant-select-selector) {
  font-weight: 600;
  font-family: "Satoshi";
  font-size: var(--token-fwZvoB_ZCfwn);
  outline: none;
}
.pcls_JEVCdi_5eaiX {
  font-weight: 600;
  font-family: "Satoshi";
  font-size: var(--token-7z5Kw5B89TZR);
  outline: none;
}
.text__iqsX4 {
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-7z5Kw5B89TZR);
}
.text__tx7SN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Satoshi";
  color: var(--token-0Rg7d9VjUj_J);
  min-width: 0;
}
.freeBox__pKjWu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 100px;
  padding: var(--token-mZAl1RAwSIao);
}
.freeBox__cVk2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 50px;
  display: flex;
  flex-direction: row;
  min-width: 100px;
  flex-shrink: 0;
  column-gap: 0px;
  justify-content: flex-end;
  align-items: center;
}
.slotTargetChildren3 {
  font-weight: 600;
  font-size: var(--token-7z5Kw5B89TZR);
}
.text__wg9Jo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Satoshi";
  color: var(--token-WOsv3R6KKLJw);
}
.text__gFy0A {
  font-style: italic;
  font-family: "Satoshi";
  color: var(--token-WOsv3R6KKLJw);
}
.logoutButton:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kYv9N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px;
}
.freeBox__yUskQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.account {
  object-fit: fill;
  max-width: 100%;
  width: 24px;
  height: auto;
  flex-shrink: 0;
}
.account > picture > img {
  object-fit: fill;
}
.supabaseUserLogOut:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  height: auto;
}
.levelsetButton__seDk6:global(.__wab_instance) {
  max-width: 100%;
  left: 124px;
  top: 54px;
  z-index: 1;
  position: absolute;
  right: 0px;
  flex-grow: 0;
  flex-shrink: 1;
}
.text___6Hkr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-b4D6G1fNo7IC);
  font-family: "Satoshi";
  font-weight: 600;
  min-width: 0;
}
.svg___2Io0S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fm88T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___8OAdU {
  display: flex;
  flex-direction: row;
  position: sticky;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBoxdashboardOpen___8OAdUkDcoZ {
  display: flex;
}
.dashboardSubmenu__zwXjo:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
