.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.typeUserSettingsBreakpointDesktop {
  width: 560px;
  height: 960px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 40px;
  flex-shrink: 0;
}
.panel {
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(0px 3px 1.5px rgba(10, 13, 18, 0.03999999910593033))
    drop-shadow(0px 8px 4px rgba(10, 13, 18, 0.029999999329447746))
    drop-shadow(0px 20px 12px rgba(10, 13, 18, 0.07999999821186066));
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.slideOutMenuHeader {
  background: rgba(255, 255, 255, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 24px;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.featuredIcon {
  background: rgba(255, 255, 255, 1);
  box-shadow:
    inset 0px 0px 0px 1px rgba(213, 215, 218, 1),
    0px 1px 2px 0px rgba(10, 13, 18, 0.05000000074505806),
    inset 0px -2px 0px 0px rgba(10, 13, 18, 0.05000000074505806),
    inset 0px 0px 0px 0px rgba(10, 13, 18, 0.18000000715255737);
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 8px;
}
.img___4ONxu {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.img___4ONxu > picture > img {
  object-fit: cover;
}
.textAndSupportingText {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(24, 29, 39, 1);
  align-self: stretch;
  position: relative;
}
.supportingText {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  align-self: stretch;
  position: relative;
}
.buttonsButtonCloseX {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___74YAx {
  object-fit: cover;
  max-width: 100%;
  color: #a4a7ae;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.header {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 24px;
}
.container {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.textAndSupportingText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.textAndOnlineIndicator {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text2 {
  display: block;
  font-size: 24px;
  font-family: "Mont";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(24, 29, 39, 1);
  position: relative;
}
.supportingText2 {
  display: block;
  font-size: 18px;
  font-family: "Satoshi";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(83, 88, 98, 1);
  align-self: stretch;
  position: relative;
}
.statistics {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
}
.tabsContainer:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__lceVo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__wnCe8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 56px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.tabButton__eXauf:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.button___1Vp5L:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xSwEb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___7Kdl6 {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg__pdJtU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__kidKm:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  display: block;
  min-width: 0;
}
.button__dEyuL:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__biP7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bWCpR {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
  white-space: pre-wrap;
}
.svg___3CfL5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__wWbbk:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.button___1ENcf:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cwr7N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ln0Wk {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg__jlTbb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabButton__ujPrH:global(.__wab_instance) {
  width: auto;
  max-width: 100%;
  object-fit: cover;
}
.button__wfgj8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0MOwq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3DMox {
  padding-right: 0px;
  font-family: "Satoshi";
  font-weight: 600;
  font-size: var(--token-LGg-zkf2M2GB);
}
.svg___35Cbg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.tabUnderline:global(.__wab_instance) {
  background: var(--token-FTu687H3gT3S);
  height: 2px;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__dZe4A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.pathwayContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hjPza {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.peContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__gkuJp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.evalsContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ztkmn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.disciplineContent:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rvUR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.discipline {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg__x92E7 {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 474px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.row {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
.text13 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Satoshi";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.row2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.metricItem {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  filter: drop-shadow(0px 1px 1px rgba(10, 13, 18, 0.05000000074505806));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.headingAndNumber {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-0Rg7d9VjUj_J);
  align-self: stretch;
  position: relative;
}
.numberAndBadge {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.number {
  display: block;
  flex-grow: 1;
  font-size: 30px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.metricItem2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  filter: drop-shadow(0px 1px 1px rgba(10, 13, 18, 0.05000000074505806));
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.headingAndNumber2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading2 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 24px;
  color: var(--token-0Rg7d9VjUj_J);
  align-self: stretch;
  position: relative;
}
.numberAndBadge2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
}
.number2 {
  display: block;
  flex-grow: 1;
  font-size: 30px;
  text-align: center;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 38px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.svg__nlnNo {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 474px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.inputAndText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconAndText {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text14 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Satoshi";
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 20px;
  color: var(--token-b4D6G1fNo7IC);
  position: relative;
}
.frame1 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.fileUploadItemBase {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 12px 16px;
}
.content4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.fileTypeIcon {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img__lYvHw {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0%;
  left: 10%;
}
.img__lYvHw > picture > img {
  object-fit: cover;
}
.fileType {
  display: block;
  font-size: 9px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 57.49%;
  left: 10%;
  width: 80%;
}
.content5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.textAndSupportingText3 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text15 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(65, 70, 81, 1);
  align-self: stretch;
  position: relative;
}
.supportingTextAndPercentage {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.supportingText3 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.svg__bnWmn {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.iconAndPercentage {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.img__btu7M {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__btu7M > picture > img {
  object-fit: cover;
}
.percentage {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.svg__hNho {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.supportingText4 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(210, 50, 48, 1);
  position: relative;
}
.frame2 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text16 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: var(--token-kv72MHA99lrw);
  position: relative;
}
.text17 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.buttonsButtonUtility {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 6px;
}
.svg__qLr6 {
  object-fit: cover;
  max-width: 100%;
  color: #a4a7ae;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fileUploadItemBase2 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 12px 16px;
}
.content6 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.fileTypeIcon2 {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img__lqo7P {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0%;
  left: 10%;
}
.img__lqo7P > picture > img {
  object-fit: cover;
}
.fileType2 {
  display: block;
  font-size: 9px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 57.49%;
  left: 10%;
  width: 80%;
}
.content7 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.textAndSupportingText4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text18 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(65, 70, 81, 1);
  align-self: stretch;
  position: relative;
}
.supportingTextAndPercentage2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.supportingText5 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.svg___4Zii2 {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.iconAndPercentage2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.img__qQvt {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__qQvt > picture > img {
  object-fit: cover;
}
.percentage2 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.svg___4Tf27 {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.supportingText6 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.frame3 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text19 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(210, 50, 48, 1);
  position: relative;
}
.text20 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.buttonsButtonUtility2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 6px;
}
.svg__rztSr {
  object-fit: cover;
  max-width: 100%;
  color: #a4a7ae;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.fileUploadItemBase3 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(233, 234, 235, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 12px 16px;
}
.content8 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.fileTypeIcon3 {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img__q8X5U {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0%;
  left: 10%;
}
.img__q8X5U > picture > img {
  object-fit: cover;
}
.fileType3 {
  display: block;
  font-size: 9px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 57.49%;
  left: 10%;
  width: 80%;
}
.content9 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.textAndSupportingText5 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
}
.text21 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(65, 70, 81, 1);
  align-self: stretch;
  position: relative;
}
.supportingTextAndPercentage3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
.supportingText7 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.svg___0HluD {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.iconAndPercentage3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 4px;
  align-items: center;
  justify-content: flex-start;
}
.img__ymwb {
  object-fit: cover;
  max-width: 100%;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img__ymwb > picture > img {
  object-fit: cover;
}
.percentage3 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.svg__aLnTg {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 2px;
  height: 14px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.supportingText8 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(83, 88, 98, 1);
  position: relative;
}
.frame4 {
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text22 {
  display: block;
  font-size: 24px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(210, 50, 48, 1);
  position: relative;
}
.text23 {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 18px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.buttonsButtonUtility3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 6px;
}
.svg__ny93I {
  object-fit: cover;
  max-width: 100%;
  color: #a4a7ae;
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.slideoutListItem2__z58FF:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.svg__iJw2I {
  object-fit: cover;
  max-width: 100%;
  color: #d5d7da;
  width: 474px;
  height: 2px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.inputAndText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconAndText2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
.text27 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(65, 70, 81, 1);
  position: relative;
}
.frame6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.slideoutListItem2__tesYb:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.content3 {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}
