.root:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox {
  width: auto;
  height: auto;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  justify-self: flex-start;
  cursor: pointer;
}
.slotTargetSlot3 {
  font-size: var(--ls-font-size-sm);
  color: var(--ls-color-brand);
  font-weight: 600;
  font-family: "Satoshi";
}
.slotTargetSlot3logoutHover > :global(.__wab_text),
.slotTargetSlot3logoutHover > :global(.__wab_expr_html_text),
.slotTargetSlot3logoutHover > :global(.__wab_slot-string-wrapper),
.slotTargetSlot3logoutHover > :global(.__wab_slot) > :global(.__wab_text),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.slotTargetSlot3logoutHover
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
